autopep8==2.0.2
bcrypt==3.2.0
boto3
cryptography==3.4.8
fastapi[all]
passlib==1.7.4
psycopg2
pycodestyle==2.10.0
pydantic_settings
pydocstyle==6.3.0
PyJWT==2.3.0
python-jose[cryptography]
SQLAlchemy==1.4.31
typing_extensions==4.5.0
